@tailwind base;
@tailwind components;
@tailwind utilities;
 

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
 
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
 
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
    --primary-sky: 216.24 89.95% 57.06%;
 
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
 
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
 
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
 
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
 
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 0 0% 0%;
    --foreground: 0 0% 100%;
 
    --card: 0 0% 5%;
    --card-foreground: 0 0% 100%;
 
    --popover: 0 0% 5%;
    --popover-foreground: 0 0% 100%;
 
    --primary: 0 0% 100%;
    --primary-foreground: 0 0% 0%;
 
    --secondary: 0 0% 10%;
    --secondary-foreground: 0 0% 100%;
 
    --muted: 0 0% 10%;
    --muted-foreground: 0 0% 78%;
 
    --accent: 0 0% 12%;
    --accent-foreground: 0 0% 100%;
 
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 100%;
 
    --border: 0 0% 15%;
    --input: 0 0% 15%;
    --ring: 0 0% 83.9%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

/* CUSTOM CSS  */
.name_underline::after{
  content: "";
  display: block;
  width: 6rem;
  height: .6rem;
  background-color: hsl(var(--primary-sky));
}
.icon_underline::after{
  content: "";
    position: absolute;
    top: 100%;
    display: block;
    width: 2rem;
    height: .3rem;
    background-color: hsl(var(--primary-sky));
    margin-bottom: 2rem;
}
/* TEXT ROTATOR STYLES  */
.animate-text-slide {
  animation: text-slide 12.5s cubic-bezier(0.83, 0, 0.17, 1) infinite;
}

@keyframes text-slide {
  0%,
  16% {
    transform: translateY(0%);
  }

  20%,
  36% {
    transform: translateY(-20%);
  }

  40%,
  56% {
    transform: translateY(-40%);
  }

  60%,
  76% {
    transform: translateY(-60%);
  }

  80%,
  96% {
    transform: translateY(-80%);
  }

  100% {
    transform: translateY(-80%);
  }
}

/* REDUCED MOTION */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }

  .animate-text-slide {
    animation: none;
    transform: translateY(0%);
  }
}